class/databaseInformations.php
config.php
updateDB.txt
security.php
secureCookies.php
Audio/*
!Audio/**/
!Audio/**/.gitkeep
Sponsors/*
!Sponsors/.gitignore
uploadsAssistance/*
!uploadsAssistance/.gitignore
videos/HBCAT_Tournoi_herbe.mp4
