<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <script src="js/RemoveEquipe.js"></script>
    <title>Gestion rencontre</title>
  </head>
  <body>
    {{ include('header.twig') }}
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <form action="ajoutTournoi_traitement.php" method="post">
            <div class="mb-3">
              <label for="nomTournoi" class="form-label">Nom du tournoi</label>
              <input type="text" class="form-control" name="nomTournoi" id="nomTournoi" class="form-label" aria-describedby="TournoiHelp" />
              <div id="TournoiHelp" class="form-text">Nom du tournoi.</div>
            </div>
            
            <div class="form-group mb-3">
              <label for="heuredebut" class="form-label">Heure de lancement</label>
              <input type="time" name="heuredebut" id="heuredebut" class="form-control" aria-describedby="heuredebut" />
              <div id="heuredebut" class="form-text">Heure de début du tournoi</div>
            </div>

            <div class="form-group mb-3">
              <label for="PasHoraire" class="form-label">Durée d'une rencontre (en minute)</label>

              <input type="number" class="form-control" id="PasHoraire" name="pasHoraire" value="{{ infotournoi.pasHoraire }}" />
            </div>

            <div class="form-group mb-3">
              <label for="dateTournoi" class="form-label">Date du tournoi</label>

              <input type="date" class="form-control" id="dateTournoi" name="dateTournoi" class="form-label" id="dateTournoi" />
            </div>

            <input type="submit"  class="btn btn-primary"  />
          </form>
        </div>
      </div>
    </div>
  </body>
</html>

